[submodule "flutter_restaurant"]
	path = flutter_restaurant
	url = https://github.com/azliR/flutter_restaurant.git
[submodule "web_restaurant"]
	path = web_restaurant
	url = https://github.com/azliR/web_restaurant.git
[submodule "dart_restaurant_api"]
	path = dart_restaurant_api
	url = https://github.com/azliR/dart_restaurant_api.git
[submodule "flutter_restaurant_store"]
	path = flutter_restaurant_store
	url = https://github.com/azliR/flutter_restaurant_store.git
